<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Учет сотрудников</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" sec:authorize="not isAnonymous()">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/department"
                       th:if="${#httpServletRequest.requestURI != '/department'}">Отделы</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/index"
                       th:if="${#httpServletRequest.requestURI != '/index'}">Сотрудники</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user" sec:authorize="hasRole('ROLE_ADMIN')"
                       th:if="${#httpServletRequest.requestURI != '/user'}">Администрирование</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/logout}">
                <h6 class="form-control mr-sm-2 mt-2" th:inline="text">[[${#httpServletRequest.remoteUser}]]</h6>
                <button class="btn btn-outline-danger mr-sm-2" type="submit">Выйти</button>
            </form>
        </div>

        <form class="form-inline" sec:authorize="isAnonymous()">
            <a class="btn btn-primary mr-sm-2 my-2 my-sm-0" href="/register"
               th:if="${#httpServletRequest.requestURI != '/register'}">Регистрация</a>
            <a class="btn btn-success mr-sm-2 my-2 my-sm-0" href="/login"
               th:if="${#httpServletRequest.requestURI != '/login'}">Вход</a>
        </form>
    </nav>
</div>
</body>
</html>