<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="pageMiddleButtons (i, adjacentPages)">
    <li class="page-item active" th:if="${i == page.getNumber()}">
        <a class="page-link" th:href="@{#}" th:inline="text">[[${i + 1}]]</a>
    </li>
    <li class="page-item"
        th:if="${i != page.getNumber() && #lists.contains(#lists.toList(#numbers.sequence(page.getNumber() - adjacentPages, page.getNumber() + adjacentPages)), i)}">
        <a class="page-link" th:href="@{|?page=${i}&size=${page.getSize()}|}" th:inline="text">[[${i + 1}]]</a>
    </li>
</div>
<div th:fragment="pageStartEndButtons (i)">
    <li class="page-item active" th:if="${i == page.getNumber()}">
        <a class="page-link" th:href="@{#}" th:inline="text">[[${i + 1}]]</a>
    </li>
    <li class="page-item" th:if="${i != page.getNumber()}">
        <a class="page-link" th:href="@{|?page=${i}&size=${page.getSize()}|}" th:inline="text">[[${i + 1}]]</a>
    </li>
</div>
<div class="row" th:fragment="pageCustom (page)">
    <a aria-controls="goToPage" aria-expanded="false" class="btn btn-sm btn-primary my-2 ml-3"
       data-toggle="collapse" href="#goToPage" role="button">
        <div>Перейти к странице</div>
    </a>
    <div class="collapse ml-2" id="goToPage">
        <form method="post" th:action="@{/goToPage}">
            <input type="number" id="page" name="page"
                   min="1" th:max="${page.getTotalPages()}" step="1"
                   th:value="${(pageNumber != null) ? pageNumber : ''}"/>
            <input type="hidden" id="size" name="size"
                   th:value="${page.getSize()}"/>
            <input type="hidden" id="url" name="url"
                   th:value="${#httpServletRequest.requestURI}"/>
            <button class="btn btn-sm btn-outline-success my-2 ml-1" type="submit">Перейти</button>
        </form>
    </div>
</div>
<div th:fragment="pages (page, adjacentPages)">
    <div>
        <nav aria-label="pages">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link">Страница</a>
                </li>
                <block class="row ml-1" th:if="${page.getTotalPages() < adjacentPages + 1}">
                    <th:block th:each="i: ${#numbers.sequence(0, page.getTotalPages() - 1)}">
                        <div th:insert="~{fragments/pager :: pageMiddleButtons(${i}, ${adjacentPages})}"></div>
                    </th:block>
                </block>
                <block class="row ml-1"  th:unless="${page.getTotalPages() < adjacentPages + 1}">
                    <div th:insert="~{fragments/pager :: pageStartEndButtons(0)}"></div>
                    <li class="page-item disabled" th:if="${page.getNumber() > adjacentPages + 1}">
                        <span class="page-link">...</span>
                    </li>
                    <th:block th:each="i: ${#numbers.sequence(1, page.getTotalPages() - 2)}">
                        <div th:insert="~{fragments/pager :: pageMiddleButtons(${i}, ${adjacentPages})}"></div>
                    </th:block>
                    <li class="page-item disabled"
                        th:if="${page.getNumber() + adjacentPages + 1 < page.getTotalPages() - 1}">
                        <span class="page-link">...</span>
                    </li>
                    <div th:insert="~{fragments/pager :: pageStartEndButtons(${page.getTotalPages() - 1})}"></div>
                </block>
            </ul>
        </nav>
    </div>
    <div>
        <nav aria-label="pages">
            <ul class="pagination">
                <th:block th:each="i: ${#numbers.sequence(1, 100, 10)}">
                    <li class="page-item active" th:if="${i == page.getSize()}">
                        <a class="page-link" th:href="@{#}" th:inline="text">[[${i}]]</a>
                    </li>
                    <li class="page-item" th:unless="${i == page.getSize()}">
                        <a class="page-link" th:href="@{|?size=${i}|}" th:inline="text">[[${i}]]</a>
                    </li>
                </th:block>
                <li class="page-item active" th:if="${page.getTotalElements() == page.getSize()}">
                    <a class="page-link" th:href="@{#}" th:inline="text">Все</a>
                </li>
                <li class="page-item" th:unless="${page.getTotalElements() == page.getSize()}">
                    <a class="page-link" th:href="@{|?size=${page.getTotalElements()}|}" th:inline="text">Все</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link">элементов</a>
                </li>
            </ul>
        </nav>
    </div>
</div>