<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="sorting (column, colName, urlBuilder)">
    <a class="page-link" th:unless="${urlBuilder.fromCurrentRequest().toUriString().contains('sort='+column)}"
       th:href="@{${urlBuilder.fromCurrentRequest().replaceQueryParam('sort', column+',asc').toUriString().
       replaceAll('&sort='+column,'').replaceAll('sort=asc','sort='+column+',asc')}}"
       th:inline="text">[[${colName}]]</a>
    <a class="page-link" th:if="${urlBuilder.fromCurrentRequest().toUriString().contains('sort='+column+',asc')}"
       th:href="@{${urlBuilder.fromCurrentRequest().replaceQueryParam('sort', column+',desc').toUriString().
       replaceAll('&sort='+column,'').replaceAll('sort=desc','sort='+column+',desc')}}"
       th:inline="text">[[${colName}]]</a>
    <a class="page-link" th:if="${urlBuilder.fromCurrentRequest().toUriString().contains('sort='+column+',desc')}"
       th:href="@{${urlBuilder.fromCurrentRequest().replaceQueryParam('sort', '').toUriString()}}"
       th:inline="text">[[${colName}]]</a>
</div>