<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../../static/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="../../static/index.js"></script>
    <title th:inline="text">[[${currentDep.name}]]</title>
</head>
<body>
<div th:insert="~{fragments/helloUser :: hello}"></div>
<form th:action="@{/department/edit/}" method="POST" onsubmit="return checkDepartmentForm();">
    <label>Введите новое имя отдела:
        <input type="text" th:value="${currentDep.name}" id="name" name="depName">
    </label>
    <input type="hidden" th:value="${currentDep.id}" name="depId">
    <button type="submit">Сохранить изменения</button>
</form>
</body>
</html>