<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="../../static/sweetalert2.all.min.js" type="text/javascript"></script>
    <script src="../../static/index.js" type="text/javascript"></script>
    <title th:inline="text">[[${currentDep.name}]]</title>
</head>
<body>
<div th:insert="~{fragments/helloUser :: hello}"></div>
<form method="POST" onsubmit="return checkDepartmentForm();" th:action="@{/department/edit/}">
    <label>Введите новое имя отдела:
        <input id="name" name="depName" th:value="${currentDep.name}" type="text">
    </label>
    <input name="depId" th:value="${currentDep.id}" type="hidden">
    <button type="submit">Сохранить изменения</button>
</form>
</body>
</html>