<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Сотрудники</title>
</head>
<body>
<span><a href="/index">&lt;&lt; Назад</a></span>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    Редактирование данных сотрудника:
    <form th:action="@{/employee}" method="post">
        <input type="hidden" th:value="${employee.id}" name="employeeId">
        <input type="text" name="name" th:value="${employee.name}" placeholder="ФИО"/>
        <select name="depId" th:value="${employee.department}">
            <option th:each="dep : ${departments}" th:value="${dep.getId()}" th:text="${dep.getName()}"></option>
        </select>
        <input type="number" min="11280.00" step="0.01" name="salary" th:value="${employee.salary}" placeholder="Зарплата"/>
        <button type="submit">Сохранить изменения</button>
    </form>
</div>

</body>
</html>