<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{fragments/bootstrap :: header}"></div>
    <script src="../../static/sweetalert2.all.min.js" type="text/javascript"></script>
    <script src="../../static/index.js" type="text/javascript"></script>
    <title th:inline="text">[[${error}]]</title>
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <div class="alert alert-danger mt-5" role="alert">
        Произошла ошибка!
    </div>
    <a class="btn btn-sm" th:href="@{|/index|}">Вернуться на главную</a>
    <div class="mt-5 ml-2">
        <a aria-controls="errorDetails" aria-expanded="false" class="btn btn-primary" data-toggle="collapse"
           href="#errorDetails"
           role="button">
            <div>Показать подробности</div>
        </a>
        <div class="collapse mt-3" id="errorDetails" th:inline="text">
            [[${stackTrace}]]
        </div>
    </div>
</div>
<div th:insert="~{fragments/bootstrap :: jscripts}"></div>
</body>
</html>