<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Start page</title>
    <script type="text/javascript" src="../static/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="../static/index.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script> -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/index.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <h3 th:inline="text">Hello, [[${#httpServletRequest.remoteUser}]]! <input type="submit" value="Выйти"/></h3>
    </form>
    <span><a href="/department">К списку отделов</a></span>
    <div sec:authorize="hasRole('ROLE_ADMIN')"><span><a href="/user">Управление учетными записями</a></span></div>
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    Добавление нового сотрудника:
    <form th:action="@{/index}" method="post">
        <input type="text" name="name" placeholder="ФИО"/>
        <select name="depId">
            <option th:each="dep : ${departments}" th:value="${dep.getId()}" th:text="${dep.getName()}"></option>
        </select>
        <input type="number" min="11280.00" step="0.01" name="salary" placeholder="Зарплата"/>
        <button type="submit">Добавить сотрудника</button>
    </form>
</div>
<form th:action="@{/index}" method="get" onsubmit="return minSalaryLessThanMax();">
    <div>Поиск:</div>
    <div>
        <label>по имени:<input type="text" name="name" th:value="${name}" placeholder="ФИО"/></label>
        <label>по отделу:<input type="number" min="1" step="1" name="depId" th:value="${depId}" placeholder="ID отдела"/></label>
        <label for="min">по мин ЗП:</label><input type="number" min="11280.00" step="0.01" name="minSalary" id="min" th:value="${minSalary}" placeholder="Мин"/>
        <label for="max">по макс ЗП:</label><input type="number" min="11280.00" step="0.01" name="maxSalary" id="max" th:value="${maxSalary}" placeholder="Макс"/>
        <button id="filter" type="submit">Найти</button>
    </div>
</form>
<div>Список сотрудников:</div>
<table border="1" style="width: 100%">
    <tr>
        <th>ID сотрудника</th>
        <th>Имя сотрудника</th>
        <th>Отдел</th>
        <th>Зарплата</th>
        <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
        <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
    </tr>
    <tr th:each="employee: ${employees}">
        <td th:utext="${employee.id}"></td>
        <td th:utext="${employee.name}"></td>
        <td th:utext="${employee.department.getName()}"></td>
        <td th:utext="${employee.getFormattedSalary()}"></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{|/employee/edit/${employee.id}|}"><img src="../static/images/edit_icon.png" width="32" height="32"></a></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{|/employee/delete/${employee.id}|}"><img src="../static/images/delete_icon.png" width="32" height="32"></a></td>
    </tr>
</table>
</body>
</html>