<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{fragments/bootstrap :: header}"></div>
    <title>Вход</title>
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container mt-5">
    <div th:if="${param.error}">
        <div class="alert alert-danger" role="alert">
            Неверное имя пользователя или пароль.
        </div>
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-danger" role="alert">
            Вы вышли из аккаунта.
        </div>
    </div>
    <div th:if="${success != null}">
        <div class="alert alert-success" role="alert" th:inline="text">
            [[${success}]]
        </div>
    </div>
    <div th:if="${failure != null}">
        <div class="alert alert-danger" role="alert" th:inline="text">
            [[${failure}]]
        </div>
    </div>
    <h3>Вход:</h3>
    <form method="post" th:action="@{/login}">
        <div th:insert="~{fragments/auth :: auth}"></div>
        <div><input class="btn btn-success" type="submit" value="Войти"/></div>
    </form>
</div>
</body>
</html>