<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
</head>
<body>
<div th:if="${param.error}">
    Неверное имя пользователя или пароль.
</div>
<div th:if="${param.logout}">
    Вы вышли из аккаунта.
</div>
Авторизация:
<form method="post" th:action="@{/login}">
    <div><label> Имя пользователя: <input name="username" type="text" required/> </label></div>
    <div><label> Пароль: <input name="password" type="password" required/> </label></div>
    <div><input type="submit" value="Войти"/></div>
</form>
<a href="/register">Зарегистрироваться</a>
</body>
</html>