<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{fragments/bootstrap :: header}"></div>
    <title>Регистрация</title>
    <script async defer src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container mt-5">
    <h3>Регистрация нового пользователя:</h3>
    <form method="post" th:action="@{/register}">
        <div th:if="${accountError != null}">
            <div class="alert alert-danger" role="alert" th:inline="text">
                [[${accountError}]]
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="name">Имя пользователя:</label>
            <div class="col-sm-6">
                <input class="form-control" id="name" name="username"
                       th:classappend="${usernameError != null} ? 'is-invalid' : ''"
                       th:value="${user?.getUsername()}" type="text"/>
                <div class="invalid-feedback" th:if="${usernameError != null}" th:inline="text">
                    [[${usernameError}]]
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="password">Пароль:</label>
            <div class="col-sm-6">
                <input class="form-control" id="password" name="password"
                       th:classappend="${passwordError != null} ? 'is-invalid' : ''"
                       type="password"/>
                <div class="invalid-feedback" th:if="${passwordError != null}" th:inline="text">
                    [[${passwordError}]]
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="passwordConfirm">Подтвердите пароль:</label>
            <div class="col-sm-6">
                <input class="form-control" id="passwordConfirm" name="passwordConfirm"
                       th:classappend="${passwordError != null} ? 'is-invalid' : ''"
                       type="password"/>
                <div class="invalid-feedback" th:if="${passwordConfirmError != null}" th:inline="text">
                    [[${passwordConfirmError}]]
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="email">Почта:</label>
            <div class="col-sm-6">
                <input class="form-control" id="email" name="email"
                       th:classappend="${emailError != null} ? 'is-invalid' : ''"
                       th:value="${user?.getEmail()}" type="email"/>
                <div class="invalid-feedback" th:if="${emailError != null}" th:inline="text">
                    [[${emailError}]]
                </div>
            </div>
        </div>
        <div>
            <div class="g-recaptcha" data-sitekey="6LeHKK4UAAAAAClZotFmqsCBjhCp7JjwOxKw3qay"></div>
            <div class="alert alert-danger col-sm-3 mt-1" role="alert" th:if="${captchaError != null}" th:inline="text">
                [[${captchaError}]]
            </div>
        </div>
        <div><input class="btn btn-success mt-3" type="submit" value="Зарегистрироваться"/></div>
    </form>
</div>
</body>
</html>