<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="../static/sweetalert2.all.min.js" type="text/javascript"></script>
    <script src="../static/index.js" type="text/javascript"></script>
    <title th:inline="text">[[${user.username}]]</title>
</head>
<body>
<div th:insert="~{fragments/helloUser :: hello}"></div>
<form method="POST" onsubmit="return checkUserForm();" th:action="@{/user}">
    <label>Введите новое имя пользователя:
        <input id="username" name="username" th:value="${user.username}" type="text" required>
    </label>
    <div th:each="role:${roles}">
        <label>
            <input th:checked="${#lists.contains(user.accessLevel, role)}" th:name="${role}" type="checkbox">
            <td th:utext="${role}"/>
        </label>
    </div>
    <input name="userId" th:value="${user.id}" type="hidden">
    <button type="submit">Сохранить изменения</button>
</form>
</body>
</html>